{% extends 'school/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="font-style: italic; font-family: 'Times New Roman';">Administration Login Panel</h1>
  <p class="lead" style="font-style: italic; font-family: 'Times New Roman';" >Welcome to College Management System.</p>
  <hr class="my-4">
  <p style="font-style: italic; font-family: 'Times New Roman';">Please select any to continue further...</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="adminsignup" role="button">Sign Up</a>
    <a class="btn btn-success btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
